*{
  box-sizing: border-box;
}
.title {
  padding: 100px;
  background-color: orangered;
}
h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
input {
  padding: 15px;
  width: 750px;
}
button {
  display: inline-block;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #585a56;
  box-shadow: 0px 5px #585a56;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
}
button:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}
p:hover{
  background-color: #585a56;
  cursor: pointer;
}
.end{
  text-decoration: line-through;
  background-color: #585a56;
  color: #fff;
}
.setsumei{
  display: none;
  color: white;
}
.out-put li{
  display: none;
  width: 100%;
  padding: 15px;
  border-style: solid;
  border-color: #f36262;
}




